@import '@/assets/styles/bases/variables';

.wrapInputField {
  position: relative;

  .label {
    margin-bottom: 6px;
  }

  .customInput {
    &:hover,
    &:focus {
      border-color: $primary;
    }
  }
}
