@import '@/assets/styles/bases/variables';
@import '@/assets/styles/bases/effect';

.button {
  overflow: hidden;
  position: relative;
  background-color: $primary;
  font-size: 14px;
  padding: 0 20px;
  height: 36px;
  transition: opacity 0.2s;
  outline: none;
  border: none;
  color: $white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 300;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }

  &.small {
    height: 30px;
  }

  &.rounded {
    border-radius: 50px;
  }

  &.square {
    width: 36px;

    &.small {
      width: 30px;
    }
  }

  &.loading {
    cursor: wait;

    &::after,
    &::before {
      display: flex;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &::before {
    background-color: $primary;
    content: '';
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }

  &::after {
    animation: rotation 0.7s infinite linear;
    content: '';
    border: 2px solid #ffffff;
    width: 20px;
    height: 20px;
    top: calc(50% - 12px);
    left: calc(50% - 10px);
    border-radius: 50%;
    position: absolute;
    border-bottom-color: transparent;
    border-top-color: transparent;
  }

  &::after,
  &::before {
    position: absolute;
    display: none;
  }
}
