@import '@/assets/styles/bases/variables';

//css for Toast
.ant-message {
  .ant-message-notice {
    .ant-message-notice-content {
      background-color: #94a716;
      border-radius: 4px;

      .ant-message-custom-content {
        span {
          color: $white;
        }
      }
    }

    &.ant-custom-error {
      .ant-message-notice-content {
        background-color: #ff4d4f;

        .ant-message-custom-content {
          span {
            color: $white;
          }
        }
      }
    }

    &.ant-custom-warning {
      .ant-message-notice-content {
        background-color: #faad14;

        .ant-message-custom-content {
          span {
            color: $white;
          }
        }
      }
    }
  }
}

//css for Modal
.ant-modal-content {
  .ant-modal-footer {
    .ant-btn-default,
    .ant-btn-primary {
      background-color: $primary;
      color: $white;
      border-color: $primary;

      &:hover {
        opacity: 0.9;
        color: $white !important;
        border-color: $primary !important;
        background-color: $primary !important;
      }
    }
  }
}

//css for Image Table
.img-table-ant {
  display: block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  background-color: lightgray;
  border-radius: 50%;
}

//css for Page Active
.ant-pagination-item-active {
  border-color: $primary !important;

  a {
    color: $primary !important;
  }

  &:hover {
    border-color: $primary !important;
  }
}

//css for Select Page Size
.ant-select-selector {
  &:hover {
    border-color: $primary !important;
  }
}

.ant-select-focused {
  .ant-select-selector {
    border-color: $primary !important;
  }
}

//css for Jumper To Page
.ant-pagination-options-quick-jumper {
  input {
    &:hover,
    &:focus {
      border-color: $primary !important;
    }
  }
}
